body{
	background-color: #d00000; 
}

.background-header {
   padding: 5px;
   border: 7px solid navy;
   background-color: yellow;
   border-radius: 25px;
}

/*Guesses Left*/
.guesses-left{

}

/*Wrong Guesses*/
.wrong-guesses{

}

/*Wins*/
.win-counter{

}

/*Losses*/
.loss-counter{

}

p {

}

h1 {
	font-size: 20px;
	padding: 5px;
   	border: 1px solid green;
    background-color: yellow;
    border-radius: 25px;
    color: #d00000;
    font-weight: 800;

}

.word-blank{
   color: orange;
	width: 30px;
    height: 30px;
    border-style: solid;
    padding: 2px;
    float: left;
    margin: 2px;
}